.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.delete-button i {
    margin-right: 8px; /* Space between icon and text */
}

.delete-button:hover {
    background-color: #ff1a1a;
}
